/* 메가랜드 34회 공인중개사 풀서비스 */

@import url('https://webfontworld.github.io/pretendard/Pretendard.css');

#fsv { position: relative; overflow: hidden; background:#000000;font-family: 'pretendard';}
#fsv > [class^="stn_"] { position: relative; }
#fsv .inner { position: relative; width: 1100px; margin: 0 auto; text-align: center; }
#fsv .fsv_top { background: #021a52 url(http://img.megaland.co.kr/full_service/2023/1027/top_bg.jpg) center 0 no-repeat;}
#fsv .fsv_con01 { background: #021a52;}
#fsv .fsv_con0101 { background: #4b74bf url(http://img.megaland.co.kr/full_service/2023/1027/fsv_con0101_bg.jpg) center 0 no-repeat; position: relative; padding-bottom: 120px;} 
#fsv .fsv_con0101 .inner{ width: 1000px;}
#fsv .fsv_con0102 { background: #fff; padding-bottom: 120px;position: relative;}
#fsv .fsv_con0102::after{content: '';position: absolute;top: 0px;width: 100%;height: 20px;background: #fff;}
#fsv .fsv_con02 { background: #dee5ec;}
#fsv .fsv_con0104 { background: #9fafbe; padding: 120px 0;}
#fsv .stn_bottom { background:#033574 url(http://img.megaland.co.kr/full_service/2022/1027/fsv_bottom_bg.jpg) center 0 repeat-x; }
#fsv .fsv_con03 { background: #ededed; padding:100px 0;}
#fsv .fsv_con04 { background: #ededed; padding:100px 0;}

#fsv .fsv_lnb {position:absolute; top: 0; left: 0; width: 220px;  z-index: 13; height:100%; background:#232323; text-align: center;}
#fsv .fsv_lnb.fixed{position: fixed;}
#fsv .fsv_lnb .tit a{display:block;}
#fsv .fsv_lnb ul {position:relative; text-align: center;}
#fsv .fsv_lnb ul li a {display:block; width: 220px; height:116px; font-family: 'pretendard';font-size: 22px;color: #737373;border-bottom: 1px solid #4b4b4b;display: flex;align-items: center;justify-content: center;font-weight: 600;}
#fsv .fsv_lnb ul li.event_tab a{color: #08f7c7;}
#fsv .fsv_lnb ul li.on a{background-position-x:-220px;color: #fff;background: #008aff;}
#fsv .fsv_lnb .lnb_lyr {width:220px;height: 116px;background: rgba(0,0,0,0.5);position: absolute;top: 351px;left: 0;color:#f3ff5e;font-size: 22px;box-sizing: border-box;font-weight: bold;display: flex;align-items: center;justify-content: center;}

#fsv .fsv_header{text-align:right;height:65px; padding-right:50px;background: url(http://img.megaland.co.kr/full_service/2023/1027/header_bg.jpg) no-repeat center 0;}
#fsv .fsv_header.event{text-align:right;height:65px; padding-right:50px;background: url(http://img.megaland.co.kr/full_service/2023/1027/header_bg_event.jpg) no-repeat center 0;}
#fsv .fsv_header{padding-top:35px;}
#fsv .fsv_header .fsv_login{display:inline-block;margin-top:8px;margin-right:10px;}
#fsv .fsv_header .login_name{color:#fff;margin-right:5px; line-height:34px; font-size:16px;}
#fsv .fsv_header .btn_small{background:#fff;display:inline-block; height:32px; line-height:32px; width:132px; color:#313131; font-size:16px;}
#fsv .fsv_header .btn_small.line{background:#fff;color:#0e2535;}
#fsv .fsv_header .myname_box{display:block;float:left;position:relative;height:auto;overflow:visible;margin-right:10px;}
#fsv .fsv_header .myname{display:block;height:25px;line-height:23px;}
#fsv .fsv_header .myinfo { display: none; position: absolute; z-index: 10; left: 50%; top: 20px; margin-left: -45px;  }
#fsv .fsv_header .myinfo img { vertical-align: top; }

#fsv {position:relative;}
#fsv .floBnrWrap {  width:140px;/*배너 가로값 꼭 넣어주세요!*/ top: 150px;/*초기 top값*/ right:20px; /*left: 50%; margin-left: 580px;*/ position: absolute; z-index: 5; }
#fsv .floBnrWrap .floBnr { position: absolute; -webkit-transition: all .5s;-moz-transition: all .5s;-ms-transition: all .5s;-o-transition: all .5s;transition: all .5s; display: flex;flex-direction: column;align-items: center;}
#fsv .floBnrWrap .floBnr.fixed { top: 250px;/*스크롤시 고정되는 top값*/ position: fixed; }
#fsv .fsv_top01_lyr {position: absolute; left: 32px; top: 560px;}
#fsv .floBnrWrap .floBnr .btn_top {margin-top: 10px;}

#fsv .fsv_con0102 > [class^="stn_"] { position: relative; }
#fsv .fsv_con0102 .btn_bnr{position: absolute;top: 450px;left: 100px;}
#fsv .stn_01 .input_text {position: absolute;left: 51%;margin-left: -58px;}
#fsv .stn_01 .input_text.st1 {top: 526px;}
#fsv .stn_01 .input_text.st2 {top: 595px;}
#fsv .stn_01 .input_text input {width: 360px;height: 46px;background: #fff;font-size: 18px;color: #999;border: none;}
#fsv .stn_01 .input_text input[type="text"]::-ms-clear {display: none;}/* 2021.10.28 추가 */
#fsv .stn_01 .input_text .icon_del{position:absolute; top:12px;}

#fsv .stn_01 .input_text input[type="text"]:focus { border:none; outline: none;}
#fsv .stn_01 .input_text input[type="text"]::placeholder{color: #999;}
#fsv .stn_01 .input_text input[type="text"]:focus::-webkit-input-placeholder {color:transparent; }

#fsv .notice_wrap{border-radius: 16px;background: #fff;padding: 48px 50px;box-sizing: border-box;}
#fsv .notice_cont{background:#fff;margin:0 auto; box-sizing:border-box; margin-bottom:25px; text-align:left;}
#fsv .notice_cont_inner{height: 180px;line-height: 20px;padding: 30px 10px 50px 30px;background: #f0f0f0;box-sizing: border-box;border-radius: 16px;}
#fsv .notice_cont h5{width:100%;background:#ffffff; text-align:center; color:#111111; font-size:34px;  font-family: 'pretendard';font-weight: 900;letter-spacing: -1px;line-height: 26px;margin-bottom: 30px;}
#fsv .notice_cont .txt{word-break:break-all; height:122px; overflow-y:auto; line-height:22px;font-family: 'pretendard';padding-right: 10px;}
#fsv .notice_wrap .desc_wrap{text-align: left;font-size: 14px;color: #999;line-height: 18px;margin-top: 20px;}


#fsv .review_cont{background:#fff; border:2px solid #292829; width:1000px; height:270px; margin:0 auto; box-sizing:border-box; text-align:left; position: relative;}
#fsv .review_cont h5{display:inline-block; width:100%; height:100px; line-height:75px; background:#292829; text-align:center; color:#fff; font-size:36px;font-weight:900; font-family: 'pretendard';}
#fsv .review_cont h5 span {color:#f9ef33;}
#fsv .review_cont h5 p { display: inline-block; position: absolute; top: 35px; left: 0; width:100%; color:#fff; font-size: 18px; font-weight: 400;}

#fsv .comment_area img { vertical-align: middle; }
#fsv .comment_area .input textarea { float: left; display: block; overflow:hidden;width: 780px; height: 166px; line-height:1.4; padding:20px 30px; background: #fff; font-size: 15px;  color: #333; letter-spacing: -0.5px; border: none; overflow-y: auto;}
#fsv .comment_area .input textarea:focus { border:none; outline: none;}
#fsv .comment_area .input textarea::placeholder{color: #999;}
#fsv .comment_area .input textarea:focus::-webkit-input-placeholder {color:transparent; }
#fsv .comment_area .input .btn_appl { float: right; display: block; width: 180px; height: 100px; font-size:0; margin: 30px 18px 0 13px;}
#fsv .comment_area .infotext { width: 1000px; margin: 5px auto 0; font-size: 12px; color: #888; letter-spacing: -0.5px; text-align: left; }
#fsv .comment_area .infotext li { margin-bottom: 3px; }

#fsv .stn_01 input[type="checkbox"]+label {display: block; width: 284px; margin: 0 auto; height: 14px; background: url('http://img.megaland.co.kr/full_service/2022/1027/input_chkbox.png') no-repeat 0 0px / contain; 
position: absolute; top: 666px; left:497px;}
#fsv .stn_02 input[type="checkbox"]+label {display: block; width: 284px; margin: 0 auto; height: 14px; background: url('http://img.megaland.co.kr/full_service/2022/1027/input_chkbox.png') no-repeat 0 0px / contain; 
position: absolute; top: 489px; left:620px;}
#fsv .stn_01 input[type="checkbox"]+label.disabled, #fsv .stn_02 input[type="checkbox"]+label.disabled { background: url('http://img.megaland.co.kr/full_service/2022/1027/input_chkbox_disabled.png') no-repeat 0 0px / contain; pointer-events: none;}		
#fsv .stn_01 input[type='checkbox']:checked+label, #fsv .stn_02 input[type='checkbox']:checked+label { background: url('http://img.megaland.co.kr/full_service/2022/1027/input_chkbox_on.png') no-repeat 0 0px / contain; }
#fsv .stn_01 input[type="checkbox"], #fsv .stn_02 input[type="checkbox"] {display: none; }

/* common */
@font-face {
font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;
}
#fsv .titarea {margin-bottom: 18px;}
#fsv .titarea span {margin-left: 5px;font-size: 13px;color: #999;vertical-align: bottom;letter-spacing: -.5px;}
#fsv .mark16 {color: #f50000;}
#fsv .blind_lypop {display: none;position: absolute;background: rgba(136,143,163,.9);text-align: center;}
#fsv .blind_lypop span {display: inline-block; margin-top: 200px;vertical-align: middle;text-align: center;color: #fff;font-size: 30px;line-height: 36px;font-weight: bold;}
#fsv .blind_lypop.full {display: block;left: 0;top: 0;width: 100%;height: 100%;}
#fsv .btn_bnr{display: inline-block;}

#fsv .tbl20 {position: relative;border-top: 1px solid #141927;border-bottom: 1px solid #141927; }
#fsv .tbl20 table {border-collapse: separate;}
#fsv .tbl20 th,
#fsv .tbl20 td {font-size: 13px;border-right: 1px solid #dedede;}
#fsv .tbl20 th:last-child,
#fsv .tbl20 td:last-child{border-right: none;}
#fsv .tbl20 th {color: #141927;}
#fsv .tbl20 td {color: #333;}
#fsv .tbl20 thead th {border-bottom: 1px solid #141927;background: #ececec;}
#fsv .tbl20 tr.sum td {border-top: 1px solid #141927;background: #f9f9f9;font-weight: bold;}
#fsv .tbl20 .bdbn,
#fsv .tbl20 tr.bdbn td,
#fsv .tbl20 tr.bdbn th {border-bottom: none !important;}
#fsv .tbl20 .bdl_1 {border-left: 1px solid #dedede !important;}
#fsv .tbl20 .bdr_1 {border-right: 1px solid #dedede !important;}
#fsv .tbl20 .bdb_1 {border-bottom: 1px solid #dedede !important;}
#fsv .tbl20 .bdt_1 {border-top: 1px solid #dedede !important;}
#fsv .tbl20 .bdl_2 {border-left: 1px solid #141927 !important;}
#fsv .tbl20 .bdr_2 {border-right: 1px solid #141927 !important;}
#fsv .tbl20 .bdb_2 {border-bottom: 1px solid #141927 !important;}
#fsv .tbl20 .bdt_2 {border-top: 1px solid #141927 !important;}
#fsv .tbl20 .bg1 {background: #f9f9f9 !important;}
#fsv .tbl20 table.table_examlevel th {font-weight: normal;}

#fsv .tbl01_box{width:1000px;background: #fff;padding:30px 0px;}
#fsv .tbl01_box .tbl01{margin: 0 auto; width: 1000px;}
#fsv .tbl01 { margin: 0 auto; width: 1000px;font-family: 'pretendard';}
#fsv .tbl01 th{background: #4f657a;color: #fff;font-size: 15px;}
#fsv .tbl01 td{background: #fff;border: 1px solid #dddddd;color: #111;font-size: 15px;}
#fsv .tbl01 td:first-child{color: #777;border-left: 0;margin-right: 0;}
#fsv .tbl01 td:nth-child(2){border-left: 0;}
#fsv .tbl01 td:last-child{border-right: 0;border-left: 0;padding: 10px 23px;}
#fsv .tbl01 td{border-bottom: 0;}
#fsv .delete { display: inline-block; vertical-align: middle; position: relative; top: -2px; margin-left: 4px; }

/* 탭공통*/
.stn_tabwrap .js_tab_type:after{content:'';display:block;clear:both}
.stn_tabwrap .js_tab_con_type{display:none;}
.stn_tabwrap .js_tab_con_type.on{display:block !important;}
/* 메인 탭 */
.stn_tabwrap .main_tab{position: relative;width:1040px;margin:0 auto;}
.stn_tabwrap .main_tab li{float:left;width: 346px;margin-left: 1px;}
.stn_tabwrap .main_tab li:first-child{margin-left:0;}
.stn_tabwrap .main_tab li a{position: relative;display: block;height: 75px;line-height: 65px;background: #1b2339;color: #727785;font-size: 30px;border: 5px solid #1b2339;border-bottom: none;text-align: center;letter-spacing: -1.5px;}
.stn_tabwrap .main_tab li.on a{background: #fff;color: #161b2a;font-weight: bold;border-color: #1b2339;}
.stn_tabwrap .main_tab li a i {position: absolute;left: 50%;top: -20px;margin-left: 68px;}
.stn_tabwrap .main_tabcon{position: relative;}
.stn_tabwrap .main_tabcon .tabinner {width:940px;margin:0 auto;padding: 60px 50px 70px;background: #fff;}
#fsv_con01.main_tabcon .tabinner {margin-bottom: 110px;}
#fsv_con03.main_tabcon {padding-bottom: 110px;}
#fsv_con04.main_tabcon {padding-bottom: 110px;}

/* 해설 강의 탭 */
.js_tab_wrap{width:1100px;margin:30px auto;}
.js_tab_wrap .js_tab_text{width:100%; display: -ms-flexbox; display:flex; -ms-flex-pack: center; justify-content: center;}
.js_tab_wrap .js_tab_text:after{content:'';display:block;clear:both}
.js_tab_wrap .js_tab_text li{width:25%;float:left;}
.js_tab_wrap .js_tab_text li a{display: block; height: 60px; line-height: 58px; font-size: 20px; text-align: center; background: #ddd;  }
.js_tab_wrap .js_tab_text li.on a{background: #000; color:#fff;}
.js_tab_wrap .js_tab_con_type{display:none}
.js_tab_wrap .js_tab_con_type.on{display:block}


/* tab1 자동채점 ~ */
#fsv .btn_down_wrap{display: flex;width: 100%;justify-content: center;}
#fsv .btn_download {display: flex;width:497px;height: 80px;background:#000; text-align: center;font-size: 22px;color: #fff; font-weight:400; line-height: 81px;
letter-spacing: -0.4px; font-family: 'pretendard'; border-radius: 20px;position: relative;align-items: center;justify-content: center;transition: transform .2s;overflow: hidden;}
#fsv .btn_download::after{content: '';display: inline-block;background: url(http://img.megaland.co.kr/full_service/2023/1027/ico_down.png) no-repeat center 0;width: 21px;height: 22px;margin-left: 10px;}
#fsv .btn_download:hover{transform: scale(1.01);}

#fsv .fsv_list_wrap{background:#fff; padding:50px 60px; width:1000px; margin:0 auto; margin-top:45px; box-sizing:border-box;display: flex;flex-wrap: wrap;box-sizing: border-box;justify-content: space-between;border-radius: 16px;}
#fsv .fsv_list_wrap>div{display: flex;flex-direction: column;justify-content: space-between;}
#fsv .fsv_list_wrap .list_tit{background: #008aff;width: 343px;height: 40px;line-height: 40px;color: #fff;font-weight: bolder;font-size: 20px;border-radius: 8px;margin-bottom: 14px;}
#fsv .fsv_list_wrap .list_tit.type2{background: #0067da;width: 521px;}
#fsv .fsv_list_wrap .score_mark ul{display: flex;}
#fsv .fsv_list_wrap .score_mark li{background: #fff;width: 164px;height: 230px;border: 2px solid #e5e5e5;border-radius: 16px;margin-right: 15px;display: flex;flex-direction: column;align-items: center;justify-content: space-between;padding: 30px 0 20px;box-sizing: border-box;}
#fsv .fsv_list_wrap .right li:last-child{margin-right: 0;}
#fsv .fsv_list_wrap .score_mark li b{font-size: 20px;height: 48px;}
#fsv .fsv_list_wrap .score_mark li a{border-radius: 8px;background: #222;display: block;color: #fff;font-size: 15px;width: 124px;height: 36px;line-height: 36px;font-weight: 600;}
#fsv .fsv_list_wrap .score_mark li a:after {content: '';display: inline-block;width: 7px;height:12px;margin: -2px -5px 0 7px;background: url(http://img.megaland.co.kr/full_service/2023/1027/bt_arr.png) center 0 no-repeat;vertical-align: middle;transition: .1s;}
#fsv .fsv_list_wrap .score_mark li a:hover:after {content: '';display: inline-block;width: 7px;height:12px;margin: -2px -5px 0 11px;background: url(http://img.megaland.co.kr/full_service/2023/1027/bt_arr.png) center 0 no-repeat;vertical-align: middle;}
#fsv .fsv_list_wrap li a.btn_remark, #fsv .fsv_list_wrap li a.btn_input{background: #555;}
#fsv .fsv_list_wrap .score_mark li .reserve{color: #0067da;font-size: 26px;font-weight: 900;}
#fsv .fsv_list_wrap .score_mark li .score{color: #0067da;font-size: 50px;font-weight: 900;}

#fsv .result_wrap {margin: 20px 0;border-radius: 4px;background: #222;padding: 40px 60px;box-sizing: border-box;display: flex;border-radius: 16px;justify-content: space-between;}
#fsv .result_wrap li {position: relative;display: table; padding: 30px 0;background: #fff;}
#fsv .result_wrap li>div {display: table-cell;vertical-align: middle;text-align: center;}
#fsv .result_wrap li.txt {border: 0;display: flex;align-items: flex-start;padding-top: 0;background: none;margin-right: 38px;}
#fsv .result_wrap li.txt>div {font-size: 24px;color: #fff;letter-spacing: -1.5px;text-align: left;}
#fsv .result_wrap li.result {width: 330px;height: 260px;padding: 0;border-radius: 12px;}
#fsv .result_wrap li.result .t1 {font-size: 18px;color: #999;font-weight: bold;margin-bottom: 15px;font-family: 'pretendard';}
#fsv .result_wrap li.result .t2 {font-size: 54px;font-weight: 900;}
#fsv .result_wrap li.result .t3 {font-size: 34px;position: relative;top: -4px;}
#fsv .result_wrap li.result .t4 {font-size: 60px;position: relative;top: -4px;}

#fsv .result_wrap li.result p.result_tag {text-align: center; margin-top: 10px;}
#fsv .result_wrap li.result p.result_tag a:not(:first-child) { margin-left: 5px;}
#fsv .result_wrap li.result p.pass_tag {text-align: center; margin-top: 10px;}		
#fsv .result_wrap li.result p.pass_tag.type2 {position: absolute;top: 34px;right: 13px;}

#fsv .survey {width: 1000px;background: #fff;text-align: left; box-sizing:border-box; margin: 80px auto 0;}
#fsv .survey .graph {width: 471px;height: 342px;border: 4px solid #d6d7d9;}
#fsv .survey .level_result {width: 500px;}
#fsv .survey .level_result table {height: 348px;}
#fsv .survey .level_result thead th {border-bottom: 1px solid #141927;border-right: 1px solid #dedede;}
#fsv .survey .level_result thead th:first-child {border-right: 1px solid #141927;}
#fsv .survey .level_result thead th:last-child {border-right: none;}
#fsv .survey .level_result tbody th {border-right: 1px solid #141927;}
#fsv .survey .result_layer{width: 1000px;height: 360px;background: rgb(0 0 0 / 80%);position: absolute;top: 899px;}

#fsv .fsv_con0104 .comment_wrap{background: #fff;width: 1000px;margin: 0 auto 30px;text-align: left;padding: 30px 50px;box-sizing: border-box;border-radius: 16px;}
#fsv .fsv_con0104 .comment_wrap h5{display: inline-block;font-size: 30px;color: #111;font-weight: 900;margin-right: 5px;}
#fsv .fsv_con0104 .comment_wrap .desc{font-size: 14px;color: #999;}
#fsv .fsv_con0104 .comment_wrap .input textarea::placeholder{color: #999;}
#fsv .fsv_con0104 .comment_wrap .input textarea {margin-top: 20px; display: block; width: 900px; height: 160px; padding: 19px 207px 19px 19px;background: #f0f0f0; font-size: 16px;color: #4c4c4c; letter-spacing: -0.5px; font-family: 'Pretendard' !important; border-radius: 5px 0px 0px 5px; box-sizing: border-box; resize: none;border-radius: 16px;border: 0;}
#fsv .fsv_con0104 .comment_wrap .input .btn_appl { position: absolute; display: block; width: 160px; height: 120px; background: #000; color: #fff; font-size: 20px; line-height: 120px; font-weight: bold; text-align: center; border-radius: 0px 5px 5px 0px; font-family: 'Pretendard' !important; border-radius: 16px;right: 123px;top: 106px;transition: .1s;}
#fsv .fsv_con0104 .comment_wrap .input .btn_appl:hover{background: #999;color: #000;}
#fsv .fsv_con0104 .comment_wrap .txt_count { position: absolute; right: 230px; top: 115px; width: 150px; text-align: right; color:#999; font-size: 15px; font-family: 'pretendard' !important; font-weight: 500;}
#fsv .fsv_con0104 .notice_info { color:#999; font-size: 13px; line-height: 1.5;}
#fsv .fsv_con0104 .desc{font-size: 13px;color: #999;text-align: left;font-family: 'pretendard';line-height: 23px;}

/* tab2 메시지 */
#fsv .fsv_con02 .paging1 > span a:first-child{border-left: 0;}
#fsv .fsv_con02 .paging1 > span a {border-left: 1px solid #7b8b9b;}


/* tab3 해설강의 ~ */
#fsv .tabin_tab li {float: left;width: 50%;}
#fsv .tabin_tab li a {position: relative;display: block;height: 80px;line-height: 78px;font-size: 30px;color: #727785;text-align: center;letter-spacing: -1.5px;}
#fsv .tabin_tab li a:after {content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background: #9095a5;}
#fsv .tabin_tab li.on a {color: #2d72ff;font-weight: bold;}
#fsv .tabin_tab li.on a:after {height: 6px;background: #2d72ff;}

#fsv .exam_explain_wrap{position: relative; background:#fff;}
#fsv .exam_explain_wrap .exam_tit{font-size:30px; color:#fff; background:#000000; line-height:80px;}
#fsv .exam_explain {position: relative; width:940px; margin:0 auto; text-align:left; padding:60px;}
#fsv .exam_explain .tit1 {height: 55px; line-height: 53px; background: #ebeef3; font-size: 18px; color: #111; font-weight: bold; text-align: center;}
#fsv .exam_explain .tit1 span{display:inline-block; width:100px; height:32px; line-height:32px; background:#d0d0d0; border-radius:4px; font-size:16px; margin-right:12px;}
#fsv .exam_explain .profs li:after {clear: both;content: '';display: block;}
#fsv .exam_explain .profs li+li {border-top: 1px dashed #c6c9cf;}
#fsv .exam_explain .profs .prof_img {float: left; width: 260px; height: 353px; overflow: hidden;}
#fsv .exam_explain .profs .infos {float: right; width: 620px; position: relative;}
#fsv .exam_explain .infobox {position: relative; padding-top: 40px;}
#fsv .exam_explain .infobox dt,
#fsv .exam_explain .infobox dd {overflow: hidden; border: 1px solid #555;}
#fsv .exam_explain .infobox dt {height: 43px; background: #666; line-height: 44px; font-size: 15px; color: #fff; font-weight: bold; text-indent: 20px; }
#fsv .exam_explain .infobox dd {height: 123px; padding: 20px; border-top: none; background: #fff; font-size: 13px; line-height: 1.6; color: #333; }
#fsv .exam_explain .infobox dd em {color: #d61818;}
#fsv .exam_explain .infobox .btn_more {display: block; position: absolute; right: 0; bottom: 0; width: 30px; height: 30px; background: url(http://img.megaland.co.kr/2019/0712_explan/btn_more.jpg) 0 0 no-repeat; text-align: left; text-indent: -9999px;}
#fsv .exam_explain .buttons {margin-top: 13px;}
#fsv .exam_explain .buttons a {display: block; float: left; /*width: 118px;*/ width: 303px; height: 48px; border: 1px solid #2d72ff; background: #fff; color: #2d72ff; font-size: 15px; line-height: 46px; text-align: center; font-weight: bold;}
#fsv .exam_explain .buttons a.blue {background: #2d72ff; color: #fff;}
#fsv .exam_explain .buttons a.gray {float: right;background: #333; border-color: #333; color: #fff; }

/*tab4 통계 분석*/
#fsv .analysis_wrap{position: relative; background:#fff;}
#fsv .analysis_wrap .analysis_tit{font-size:30px; color:#fff; background:#000000; line-height:80px;}
#fsv .analysis {position: relative; width:940px; margin:0 auto; text-align:left; padding:60px;}
#fsv .tabin_tab2 li {float: left;}
#fsv .tabin_tab2 li.bt1 {width: 140px;}
#fsv .tabin_tab2 li.bt2 {width: 190px;}
#fsv .tabin_tab2 li.bt3 {width: 190px;}
#fsv .tabin_tab2 li.bt4 {width: 140px;}
#fsv .tabin_tab2 li.bt5 {width: 140px;}
#fsv .tabin_tab2 li.bt6 {width: 140px;}
#fsv .tabin_tab2 li a {position: relative;display: block;height: 80px;line-height: 78px;font-size: 20px;color: #727785;text-align: center;letter-spacing: -1.5px;}
#fsv .tabin_tab2 li a:after {content: '';position: absolute;left: 0;bottom: 0;width: 100%;height: 1px;background: #9095a5;}
#fsv .tabin_tab2 li.on a {color: #2d72ff;font-weight: bold;}
#fsv .tabin_tab2 li.on a:after {height: 6px;background: #2d72ff;}

/* 레이어 팝업  */
.fsv_lypop {display: none; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; text-align: center;}
.popup_more_box .ly_dim { position: fixed; left: 0; top: 0; z-index: 990; width: 100%; height: 100%; background: rgba(0,0,0,.5); }
.popup_more_view {/*position: fixed; left: 50%; top: 50%; width: 466px; margin: -190px 0 0 -234px*/position: relative; width: 550px; margin: 150px auto 0; z-index: 999; background: #fff; text-align: left; border: 1px solid #111;}
.popup_more_view dt {position: relative; overflow: hidden; height: 55px; background: #111; line-height: 54px; font-size: 19px; color: #fff; font-weight: bold; text-indent: 20px; }
.popup_more_view dd {overflow-y: auto; height:340px; padding: 20px; background: #fff; font-size: 13px; line-height: 1.6; color: #333; } /* 2020.10.29 수정*/
.popup_more_view dd em {color: #d61818;}
.popup_more_view .btn_popup_close { position: absolute; right: 0; top: 0; display: block; width: 38px; height: 54px; background: url(http://img.megaland.co.kr/full_service/2019/1024/btn_popup_close.png) 0 0 no-repeat; text-align: left; text-indent: -9999px; }

.popup_pass {position: absolute; left: 0; top: 150px; }
.popup_pass .popInner { position: relative; width: 640px; margin: 700px auto 0; z-index: 999;text-align: left;}
.popup_pass .bt_popClose1 { top: 0; right: -40px;position: absolute; display: block;}
.popup_pass .ly_dim { position: fixed; left: 0; top: 0; z-index: 990; width: 100%; height: 100%; background: rgba(0,0,0,.5); }

/* 이벤트 영역 */
.fsv_con05 .fsv_con05_top{background: url(http://img.megaland.co.kr/full_service/2023/1027/fsv_con05_top_bg.jpg) no-repeat center 0;}
.fsv_con05 .fsv_con05_cont1{background: url(http://img.megaland.co.kr/full_service/2023/1027/fsv_con05_cont1_bg.jpg) no-repeat center 0;}
.fsv_con05 .fsv_con05_cont2{background: #dbeeff url(http://img.megaland.co.kr/full_service/2023/1027/fsv_con05_cont2_bg.jpg) no-repeat center 0;position: relative;}
.fsv_con05 .fsv_con05_cont2::before{background: #dbeeff;content: '';width: 100%;position: absolute;height: 10px;top: -2px;}
.fsv_con05 .fsv_con05_cont3{background: #dbeeff url(http://img.megaland.co.kr/full_service/2023/1027/fsv_con05_cont3_bg.jpg) repeat-x center 0;position: relative;}
.fsv_con05 input[type="checkbox"] { vertical-align: middle;  margin-right: 5px;}
.fsv_con05 label.checkbox {position: absolute; top: 83px;  color:#789bba; font-size: 15px; letter-spacing: -0.5px;left: 50%;transform: translateX(-50%);}
.fsv_con05 label.checkbox a.info_view { color:#1c43e7; font-size: 18px; text-decoration: underline; text-underline-position: under;margin-left: 5px;}
.fsv_con05 .tag{position: absolute;top: 150px;right: 40px;}
.fsv_con05 .tag.type2{top: 350px;}
.fsv_con05 .tag .roulette_num{font-size: 70px;color: #0035e2;position: absolute;top: 67px;left: 57px;font-weight: 900;font-family: 'pretendard';}
.fsv_con05_cont2 .event_end{width: 540px;height: 700px;background: rgb(0 0 0 / 85%);border-radius: 50px;position: absolute;top: 140px;right: 280px;color: #fff;font-size: 40px;}
.fsv_con05_cont2 .event_end strong{padding-top: 300px;display: inline-block;}
/* 레이어팝업 */
.fsv_con05 .layerPop {display: none; position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 100; text-align: center;}
.fsv_con05 .layerPop .popInner { width:700px; margin: 50px auto 0; z-index: 999;  position: relative; text-align: left;}
.fsv_con05 .layerPop .popInner .img img{width: 700px;}
.fsv_con05 .layerPop .ly_dim { position: fixed; left: 0; top: 0; z-index: 990; width: 100%; height: 100%; background: rgba(0,0,0,.5); }
.fsv_con05 .layerPop .bt_popClose { right: 130px; top: 160px; position: absolute; display: block; z-index: 1; text-align: left;}
.fsv_con05 .layerPop .coupon_img { position: absolute; left: 152px; top: 155px;}
.fsv_con05 .layerPop .coupon_img img { width:100% !important;}
.fsv_con05 .layerPop p {font-size: 26px;font-weight: bold;position: absolute;color: #000;font-family: 'pretendard';top: 290px;text-align: center;left: 50%;transform: translateX(-50%);width: 100%;}
.fsv_con05 .layerPop span { color:#0035e2;display: block;}
.fsv_con05 .layerPop .gift{position: relative;}

/* 탭2 */
.fsv_con02 .prof_wrap{display: flex;width: 855px;justify-content: space-between;position: absolute;top: 421px;left: 116px;}
.fsv_con02 .prof_wrap .prof:nth-child(3){margin-left: 21px;}
.fsv_con02 .prof_wrap.Prof2{display: flex;width: 855px;justify-content: space-between;position: absolute;top: 687px;left: 116px;}
.fsv_con02 .prof_wrap.Prof3{display: flex;width: 855px;justify-content: space-between;position: absolute;top: 952PX;left: 116px;}
.fsv_con02 .prof_wrap.Prof3 .prof:nth-child(3){margin-left: 0;}
.fsv_con02 .prof_wrap.Prof3 .prof:nth-child(4){margin-left: 21px;}
.fsv_con02 .prof{position: relative;}
.fsv_con02 .prof a{display: block;}
.fsv_con02 .prof .btn_message{position: absolute;left: 50%;transform: translateX(-50%);top: 133px;}